<link rel="stylesheet" href="/style/style.css">
{% extends "base.html" %}
{% block content %}
{{super()}}
<h2>Посты нашего форума</h2>

<ul>
{% for post in posts %}
    <li>
        <a href="{{ url_for('show_post', post_url=post.post_url) }}">{{ post.post_title | striptags }}</a>
        <p>{{ post.post_content | striptags | truncate(80)}}</p>
    </li>
{% endfor %}
</ul>

<div class="pagination">
    {% if page > 1 %}
        <a href='{{ url_for('index', page=page - 1 ) }}'> ← Назад </a>
    {% endif %}

    {% for p in range(1, total_pages + 1) %}
        <a href='{{ url_for('index', page=p) }}'> {{ p }}</a>
    {% endfor %}

    {% if page < total_pages %}
        <a href='{{ url_for('index', page=page + 1) }}'> Вперёд → </a>
    {% endif %}
</div>
{% endblock %}