{% extends 'admin/base_admin.html' %}
{% block content %}
    {{ super() }}

<h1> {{ post.post_title }}<h1>

    <div>
    <p> {{ post.post_content | striptags }} </p>
    </div>

    <form method="POST" action="{{ url_for('admin.edit_post', post_id = post.id )}}">
        <button> Редактировать пост </button>
    </form>

    <form method="POST" action="{{ url_for('admin.delete_post', post_id = post.id) }}">
        <button> Удалить пост </button>
    </form>

<h2> Комментарии к посту: </h2>
    <ul>
        {% for comment, user in comments %}
        <li>
            <h3>{{ user.user_login }} </h3>
            <p> {{ comment.text }} </p>
            <p> {{ comment.created_at }} </p>
            <p></p>
        
        <form method="POST" action="{{ url_for('admin.delete_comment', comment_id = comment.id) }}">
        <button> Удалить комментарий </button>
        </form>

        </li>
        {% endfor %}

    </ul>
{% endblock %}